{% extends 'base.html' %}
{% block head %}
    <style>
       #nav-learn a{
           background-color: #10ce58;
           color: #fff;
       }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            {% if not request.user.level %}
                <div>
                    <h2>请设置背诵范围</h2>
                </div>
            {% else %}
                {% if not words %}
                    <div>抱歉，当前数据库没有数据</div>
                {% else %}
                {% for word in words %}
                    <div class="learn-word word-{{ forloop.counter0 }}">
                        <div style="display: none" class="word_id">{{ word.id }}</div>
                        <div class="word-item">
                            单词：&nbsp;&nbsp;<span class="words-word">{{ word.word }}</span>
                        </div>
                        <div class="word-item">
                            中文：&nbsp;&nbsp;<span class="words-meaning">{{ word.meaning | safe }}</span>
                        </div>
                        <div class="word-item">
                            例句:&nbsp;&nbsp;{{ word.example | safe }}
                        </div>
                        {% if word.two_synonym %}
                        <div class="word-synonym">
                            <div>近义词：</div>
                            {% for syn in word.two_synonym %}
                                <div class="synonym">
                                    <span>{{ syn.word }}</span>:&nbsp;&nbsp;<span>{{ syn.meaning | safe }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="word-note">
                           <div>笔记:</div>
                               {% for note in word.note %}
                                   <div class="note">
                                      <span class="note-nickname">{{ note.user_nickname }}</span>:&nbsp;&nbsp;<span>{{ note.content }}</span>
                                   </div>
                               {% endfor %}
                               <div class="form-note">
                                   <textarea rows="2" placeholder="请添加笔记~"></textarea>&nbsp;&nbsp;
                                   <input type="checkbox">&nbsp;共享
                                   <a class="add-note">添加笔记</a>
                               </div>
                        </div>
                        <div class="word-item word-btn">
                            <span class="">{{ forloop.counter }} </span>/ <span>{{ words | length }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-remember">记住</button>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/words.js" type="text/javascript"></script>
{% endblock %}